@{
    ViewBag.Title = "UploadBatch"; 
    var id = Request.Url.Segments.Last();
}
<h1>Upload Batch files</h1>
<hr />
@using (Html.BeginForm("UploadBatch", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("StartDate", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("StartDate", new { htmlAttributes = new { @class = "form-control", @type="date"} })
                @Html.ValidationMessage("StartDate" , "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("DueDate", htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.Editor("DueDate", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessage("DueDate", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="Status" name="Status">
                    @{
                        List<string> sts = new List<string>();
                        sts.Add("Pending");
                        sts.Add("Started");
                        sts.Add("Completed");

                        foreach (var item in sts)
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Upload Text files:</label>
            <div class="col-md-10">
                <input type="file" class="form-control" name="Images" multiple="multiple" />
            </div>
        </div>
        <input type="hidden" value="@id" id="ProjectID" name="ProjectID" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to Project", "Details", new { id = Request.Url.Segments.Last() })
</div>
@section Scripts{
    <script>

    </script>
}