@model ASP_WEB.Models.Batch

@{
    ViewBag.Title = "Details";
}

<h1>Batch</h1>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompleteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompleteDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BatchID }) |

    @Html.ActionLink("Back to List", "Index", new { id = Model.ProjectID })

</p>
